body {
width: 100%;
height: 100%;
margin: 0 auto;
}

ul {
    padding: 0px!important;
}

.menu-principal {
    width: 100%;
    background-color: #000000;
    height: 60px;
}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    width: 70%;
    padding: 16px;
}

.redes-sociais ul li {
    margin-left: 15px;
    display: inline-block;
    list-style: none;
    float: left;
}

.redes-sociais {
    width: 25%;
    float: right;
}

.header-2 {
    background-color: #b1b1b1;
    width: 980px;
    margin: 0 auto;
}

.menu ul li {
    display: inline-block;
    color: #000000;
    margin-left: 10px;
    padding: 12px;
}

.menu ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu {
    width: 70%;
    float: left;
}

.busca {
    text-align: center;
    width: 30%;
    float: right;
}

.busca input {
    background-image: url('../img/icone-search.png');
    background-repeat: no-repeat;
    background-position: 95%;
    height: 36px;
    padding: 12px;
    width: 190px;
    margin-top: 25px;
    border: 1px solid #6d6d6d;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

.menu-urls {
    height: 80px;
    border-bottom: 3px solid #efefef;
}